

#grid {
  padding: .2rem;
  margin: 2rem 0 100%;
  //border: 1px solid red;
  display: grid;
  //grid: auto  / repeat(2,1fr);
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  justify-content: space-evenly;
  align-content: space-evenly;

  @include desktop {
    grid: auto / repeat(3,1fr);
  }

}
