

#hero {
 // border: 1px solid $very-dark-blue;
  box-shadow: 1px 5px 5px $grayish-blue;
  a {
    text-decoration: none;
    display: block;
    height: 100%;
    figcaption {
      padding: .5rem;
      margin-top: 0;
      .headline {
	color: $very-dark-blue;
	//font-family: Inter;
	font-weight: 600;
	.tag {
	  //border: .8px solid #00bdd6;
	  border-radius: 8px;
	  margin-left: 5px;
	  padding: 4px;
	  font-weight: 500;
	  font-size: .9rem;
	  color: $dark-grayish-blue;
	  .fa-circle {
	    margin-right: 2px;
	  }//fa-circle
	}//.tag
      }//headline
      .domain {
	color: $grayish-blue;
	font-size: .9rem;
      }//domain
    }//figcaption
  }//a
}//#hero
