
#quiz {
  //border: 1px solid red;
 // position: sticky;
//  top: 100px;
  margin-bottom: 100%;
  .q-header {
    //position: fixed;
   // width: 100vw;
    background-color: $very-dark-blue;
   // border: 1px solid blue;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
    h1,span {
      color: $off-white;
      font: {
	//family: poppins;
	weight: 600;
	size: 1.5rem;
      }
    }
    span {
      size: 1rem;
      color: $teal;
      font-weight: 400;
    }
  }

  .main {
    margin-bottom: 1rem;
    //font-family: poppins;
  }

  .btn-con {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    .btn {
      //border: 1px solid $teal;
      border: none;
      padding: .6rem 2.1rem;
      text-align: center;
      border-radius: .5rem;
      transition: all .3s;
      font: {
	family: philosopher;
	size: 1.2rem;
	weight: bold;
      }
    }
    .next {
      background-color: $very-dark-blue;
      color: $teal;
    }
    .submit {
      background-color: $dark-teal;
      color: $off-white;
      font-weight: 500;
      box-shadow: 1px 5px 1px $faded-white
    }
    .prev {
      color: $teal;
      background-color: $very-faded-white;
      border: 1px solid $very-faded-white;
      &:focus,&:hover {
	background-color: $very-dark-blue;
	border: 1px solid $very-dark-blue;
      }
    }


  }
  @include desktop {
    .btn-con {
      padding: 1.5rem 6%;
    }
  }

}
