
.result {
  margin-top: 1rem;
 // border: 1px solid blue;
  margin-top: 1rem;
  .q-con {
     padding: 1rem;
     p{
       font-weight: 500;
     }
  }
  .opts-list {
    padding: 1rem;
    list-style: none;
    margin-top: 1rem;
   // border: 1px solid red;
    li {
      margin-bottom: .5rem;
      padding: .5rem;
      border: 1px solid $dark-grayish-blue;
      border-radius: .5rem;
    }
  }
  @include desktop {
    display: grid;
    grid: auto / 40vw 59vw;
    grid-gap: 1rem;
    .q-con {
      text-align: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
    .opts-list {
      //border: 1px solid $soft-orange;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      li {
	width: 80%;
	margin-bottom: .8rem;
      }
    }
  }

}
//008c11
.correct {
  background-color: $dark-green;
  color: $off-white;
}

.wrong {
  background-color: $hard-red;
  color: $off-white;
}
